<div class="grid-container">

  <% @works.each do |work| %>
    <% main_image = work.images.filter { |x| x.main } %>
    <% main_image = main_image.first %>


    <%= link_to work_show_path(id: work), class: "w-#{main_image.format.to_s}" do %>

      <% if main_image.file_type == 0 %>
        <%= image_tag main_image.path %>

      <% elsif main_image.file_type == 1 %>
        <%= video_tag main_image.path, autoplay: false, muted: true, 
        loop: true, controls: false %>
      <% end %>
      <div class="hover-title">
        <h2><%= "- #{work.category.name} -" %><br><%= work.title %></h2>
      </div>
    <% end %>

  <% end %>
</div>